/**/


$titres: 'Shrikhand', cursive;;
$contenus:'Roboto', sans-serif;

$primary: #9356DC;
$secondary: #FF79DA;
$ternary: #99E2D0;
$linear: linear-gradient($secondary, $primary);
$breakpoints: (mobile:767px , desktop:991px);